<div class="navbar">
    <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle (click)="navigate(group)" value="Admin">Admin</mat-button-toggle>
        <mat-button-toggle (click)="navigate(group)" value="Ecommerce">Ecommerce</mat-button-toggle>
        <mat-button-toggle (click)="navigate(group)" value="Unit_Leader">Unit Leader</mat-button-toggle>
        <mat-button-toggle (click)="navigate(group)" value="Scout">Scout</mat-button-toggle>
        <mat-button-toggle (click)="navigate(group)" value="Popcorn">Popcorn System</mat-button-toggle>
        <mat-button-toggle (click)="navigate(group)" value="Council">Council-PSS</mat-button-toggle>
        <mat-button-toggle (click)="navigate(group)" value="Android">App-Android</mat-button-toggle>
        <mat-button-toggle (click)="navigate(group)" value="Apple">App-Apple</mat-button-toggle>
      </mat-button-toggle-group>
</div>