<div [class]="logStatus">
  <mat-card>
    <div class="log-grid">
      <div class="item number">#{{number}}</div>
      <div class="item status">
        <div>   
          <type-card [status]="location"></type-card>
        </div>
        <div style="margin-top:.6em">
          <log-type [type]="logType"></log-type>
        </div>
      </div>
      <div class="item testInfo">
        <div>
          {{ testDate }}
        </div>
        <div>
          {{ testScript }}
        </div>
        <div>
          <type-card [status]="testInitials"></type-card>
        </div>
      </div>
      <div class="item">{{ error }}</div>
      <div class="item progress"><type-card [status] = "progressStatus" *ngIf="progressStatus !== 'default'"></type-card></div>
      <div class="item">Comments...</div>
    </div>
  </mat-card>
</div>
