.log-grid{
    display: grid;
    grid-template-columns: 60px 120px 120px repeat(3,1fr);
    grid-template-areas: item;

    .item {
        
        &.number{
            align-self: center;
            border-right: 2px lightgray solid;
        }

        &.status, &.testInfo {
            justify-content: center;
            align-self: center;
            div {
                display: flex;
                justify-content: center;
            }
        }

        &.progress {
            justify-self: center;
            align-self: center;
        }


    }
}
mat-card{
    margin: .2em;
    padding: 10px;
    font-size: 14px;
}



.default {
    mat-card{
        background-color: rgba(235, 235, 235, 0.89);
    }
}

.fixed {
    mat-card{
        background-color: rgba(235, 235, 235, 0.89);
        opacity: .4;
    }
}

.fixed.sandbox {
    mat-card{
        background-color: rgba(253, 253, 108, 0.692);
        opacity: .4;
    }
}

.fixed.dev {
    mat-card{
        background-color: powderblue;
        opacity: .4;
    }
}

