/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    min-width: 100%; /* 20px smaller, to fit the paddings on the sides */
    min-height: 100%;
    align-content: center;
    align-items: center;

}

.right {
    left: 80%;
}

.btn-blue {
    background: royalblue;
    color: white;
    font-weight: 600;
    border-radius: 0px !important;
}

html, body {
    background-color: rgb(247, 251, 255);
    height: 100%
}
